# .coveragerc to control coverage.py
[run]
branch = True
cover_pylib = False
parallel = True
source =
  atelier
  lino
  lino_xl
  lino_book
  lino_noi
  lino_cosi
  lino_presto
  lino_care
  lino_vilma
  lino_avanti
  lino_tera
omit = *test*.py
