*.elc
*.pyc
*~
*.dpyc
*.log
*.class
*.zip
*.js.py
*.bat
dist
tmp
lino/ui/qx/app/build/resource
*/SciTE.session
default.db
lino_book/tutorials/*/media
lino_book/projects/*/settings/media
docs/dl/*
!docs/dl/dev
lino_book.egg-info
.build
htmlcov
warnings_linkcheck.txt
.DS_Store
.idea
docs/api/lino*
pisa.Person-1.pdf
.coverage
.coverage.*
.eggs
.cache
media
.doctrees
