-e git+https://github.com/oubiwann/metaphone.git#egg=metaphone
-e git+https://github.com/khchine5/atelier.git#egg=atelier
-e git+https://github.com/khchine5/lino.git#egg=lino
-e git+https://github.com/khchine5/xl.git#egg=lino_xl
