-e git+https://github.com/lino-framework/atelier.git#egg=atelier
-e git+https://github.com/lsaffre/commondata.git#egg=commondata
-e git+https://github.com/lsaffre/commondata-be.git#egg=commondata.be
-e git+https://github.com/lsaffre/commondata-ee.git#egg=commondata.ee
-e git+https://github.com/lino-framework/appypod.git#egg=appy
-e git+https://github.com/lino-framework/lino.git#egg=lino
-e git+https://github.com/lino-framework/xl.git#egg=lino_xl
-e git+https://github.com/lino-framework/noi.git#egg=lino_noi
-e git+https://github.com/lino-framework/cosi.git#egg=lino_cosi
-e git+https://github.com/lino-framework/voga.git#egg=lino_voga
-e git+https://github.com/lino-framework/presto.git#egg=lino_presto
-e git+https://github.com/lino-framework/welfare.git#egg=lino_welfare
-e git+https://github.com/lino-framework/avanti.git#egg=lino_avanti
-e git+https://github.com/eliben/pycparser@release_v2.14#egg=pycparser
-e git+https://github.com/cylonoven/django-mailbox.git#egg=django_mailbox
radicale
