git+https://github.com/lino-framework/atelier.git#egg=atelier
git+https://github.com/lsaffre/commondata.git#egg=commondata
git+https://github.com/lsaffre/commondata-be.git#egg=commondata.be
git+https://github.com/lsaffre/commondata-ee.git#egg=commondata.ee
git+https://github.com/lino-framework/appypod.git#egg=appy
git+https://github.com/lino-framework/etgen.git#egg=etgen
git+https://github.com/lino-framework/lino.git#egg=lino
git+https://github.com/lino-framework/xl.git#egg=lino_xl
git+https://github.com/lino-framework/noi.git#egg=lino_noi
git+https://github.com/lino-framework/cosi.git#egg=lino_cosi
git+https://github.com/lino-framework/voga.git#egg=lino_voga
# git+https://github.com/lino-framework/presto.git#egg=lino_presto
git+https://github.com/lino-framework/welfare.git#egg=lino_welfare
git+https://github.com/lino-framework/avanti.git#egg=lino_avanti
git+https://github.com/lino-framework/vilma.git#egg=lino_vilma
git+https://github.com/lino-framework/care.git#egg=lino_care
git+https://github.com/lino-framework/tera.git#egg=lino_tera
git+https://github.com/lino-framework/amici.git#egg=lino_amici
git+https://github.com/CylonOven/django-mailbox.git#egg=django-mailbox
mock
# git+https://github.com/eliben/pycparser@release_v2.14#egg=pycparser
radicale
