{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block main %}
<div class="row-fluid">
<p>({{_("Under construction")}})</p>
<p>
{% for obj in settings.SITE.modules.concepts.Concept.objects.all() %}
  {% for e in obj.as_summary_row() %}
    {{e}},
  {% endfor %}
{% endfor %}
</p>
</div>
{% endblock %}
