
<p>
{% if False %}
<a href="http://sigal.saffre-rumma.net/2018" target="_blank">Fotos</a>
<br/>
<a type="application/rss+xml" href="http://luc.saffre-rumma.net/rss.xml"><img src="http://luc.saffre-rumma.net/_static/feed-icon-16.gif" title="Rundbriefe an Freunde"/></a>
</p><p>
<a href="https://soutenir.framasoft.org" title="Faites comme moi, soutenez Framasoft !"><img alt="Soutenir Framasoft" src="https://soutenir.framasoft.org/img/banners/badge_route_gee_cc-by-sa.jpg"/></a>
{% endif %}
</p>

{% if False %}
<p align="center">
<a href="http://pdfreaders.org/" target="_blank"><img src="http://pdfreaders.org/graphics/pdfreaders-freedom-noget.svg"/></a>
</p>

{% endif %}
